<!-- MENU BAR -->

<div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg scroll">
        <div class="container">
            <a class="navbar-brand" href="/">Gift Plasma</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#why" class="nav-link smoothScroll">WHY</a>
                    </li>
                    <li class="nav-item">
                        <a href="#who" class="nav-link smoothScroll">WHO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#whom" class="nav-link smoothScroll">WHOM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#how" class="nav-link smoothScroll">HOW</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
