<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

  <div class="container">
    <div class="row">

      <!-- <div class="mx-auto col-lg-4 col-md-4 col-10">
                      <img src="images/ben.jpg" class="img-fluid">
                  </div> -->
      <div class="d-flex flex-column justify-content-center align-items-center col-lg-12 col-md-12 col-12">
        <div class="hero-text center">
          <h1>Echo, Infinite Hearts</h1>
          <p>Echo, Infinite Heart’s with <strong>Plasma Donation from Recovered COVID-19</strong> Warriors in India</p>
          <a href="/patient" class="button-link">WARRIOR REGISTERATION</a>
          <a href="/donor" class="button-link">DONOR REGISTERATION</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="about section-padding bg-light" id="why">
  <div class="container">
    <div class="row" id="why">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="mb-4">Connecting Hearts…Bring Humanity</h3>
        <ol>
          <li>You don't always have to be a doctor to SAVE someone's LIFE! Humanity does play a role to save more lives
            that doctors can't do single handedly.</li>
          <li>During COVID-19 crisis, researchers have found that plasma therapy could be a real catholicon in speedy
            recovery of COVID patient. Any kind hearted person who successfully recovered from unpleasant experience of
            COVID and want to help someone who are currently going through same pain. These COVID Warriors can bring a
            difference.</li>
          <li>So roll up your sleeves and contribute proactively in this noble cause.</li>
          <li>We are here in facilitating current COVID patients & recovered COVID patients by bringing them together on
            same platform.</li>
          <li>We are also working hard to steadily improve our solution in bringing transparency in efficient way with
            faster connection engagements.</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="about section-padding" id="who">
  <div class="container">
    <div class="row" id="why">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="mb-4">Who Can Help</h3>
        <ol>
          <li>Most people recovered with COVID-19 produce antibodies that help fight the disease. Their blood plasma
            could help patients still struggling to survive. </li>
          <li>It’s treatment called convalescent plasma, The <a class="link" href="#">FDA</a> describes convalescent
            plasma as “an
            antibody-rich
            product made from blood donated by people who have recovered from the disease caused by the virus” to help
            lessen the severity or shorten the length of a person’s illness.</li>
          <li>The Food and Drug Administration (FDA) is encouraging people who have recovered from a confirmed infection
            with the new coronavirus to consider donating their plasma so it can be injected into people with severe
            forms of the infection(<a class="link" href="#">Details</a>).</li>
          <li>The FDA says one donation has the potential to help up to four patients.</li>
        </ol>
        <a href="/patient" class="button-link">WARRIOR REGISTERATION</a>
      </div>
    </div>
  </div>
</section>
<section class="about section-padding bg-light" id="whom">
  <div class="container">
    <div class="row" id="why">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="mb-4">Who Needs Help</h3>
        <ol>
          <li>The best time to give a current COVID-19 patient the plasma treatment is in the window before their
            adaptive immune system makes the antibodies itself.
          </li>
          <li>During this gap is when the virus invades the cells and causes damage. And then once that has happened,
            when the inflammatory response kicks in, that makes the patient very, very sick.
          </li>
          <li>People have high <a class="link" href="#">fevers</a>, their heart is racing and have respiratory
            challenges.
          </li>
          <li>AB blood type are the universal plasma donor.
          </li>
        </ol>
        <a href="/donor" class="button-link">DONOR REGISTERATION</a>
      </div>
    </div>
  </div>
</section>
<section class="about section-padding" id="how">
  <div class="container">
    <div class="row" id="why">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="mb-4">How We Help</h3>

        <div><img src="/images/help.jpg" width="100%" alt="How We Help"></div>
      </div>
    </div>
  </div>
</section>

<section class="contact section-padding pt-0 pb-0 bg-light" id="contact">
  <div class="container">
    <div class="row">

      <div class="mx-auto col-lg-12 col-md-12 col-12">
        <h3 class="my-4 pt-4 pt-lg-0">Connecting Hearts</h3>

        <p class="mb-1">+91 **********</p>

        <p>
          <a href="mailto:care@giftplasma.com">
            care@giftplasma.com
          </a>
        </p>

        <p class="copyright-text mt-5 pt-3">Copyright &copy; Gift Plasma, 2020</p>
      </div>

    </div>
  </div>
</section>
