<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="{{description}}">
     <meta name="keywords" content="Covid 19 Cure, donate plasma for covid patiens">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/all.min.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/covid-cure-style.css">

  </head>
  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">
    {{> header}}

    {{{body}}}

    {{> footer}}
  </body>
</html>
