<section class="contact section-padding">
  <div class="container">
    <div><strong>Registration Successful</strong></div>
    <div>
      <br>Thank you for registering
      <br>
      {{#if ref}}
      Your referance ID is: {{ref}}</div>
    {{/if}}
    <br><br>
    We will get in touch with you for further comunication.
  </div>

  </div>
</section>
